[submodule "static/abi-decoder"]
	path = static/abi-decoder
	url = git@github.com:cleanunicorn/abi-decoder.git
[submodule "static/santoku"]
	path = static/santoku
	url = git@github.com:cleanunicorn/santoku.git
[submodule "projects/santoku"]
	path = projects/santoku
	url = git@github.com:cleanunicorn/santoku.git
